[Unit]
Description=Alchaar web application
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/alchaar-web:latest
ContainerName=alchaar-web
PublishPort=127.0.0.1:3000:3000

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
